<h1>{{title}}</h1>
<nav>
  <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>